# Fundamentals of Data Pipeline

## What is a Data Pipeline?

A Data Pipeline is a unified system for capturing events, sometimes from different sources, to offer them to value generation initiatives (like analytics, building products, monitoring, etc.).

![Example of a Data Pipeline](img/data-pipeline.png)

## What can we call EVENTS?

Each action executed can be called an event. And an action can be executed by:
- Users;
- Systems;
- Bots;

### Coarse-grained events

This type of event is a kind of *by-product* derived by the main product/operation being tracked. Usually, coarse-grained events are stored as text logs that can be used for debugging and analysis .

```json
{
  "id": 3969,
  "ip": "127.0.0.1",
  "timestamp": "2018-01-03 08:48:26.987-02Z",
  "action": "GET / HTTP/2.0",
  "status": 200
}
```

In some cases, the content of an action has some meaning that have to be known at the debugging or analysis time. For example, suppose you have the following event from an email app:

```json
{
  "id": 36728,
  "ip": "127.0.0.1",
  "timestamp": "2018-01-03 08:55:26.987-02Z",
  "action": "GET /inbox",
  "status": 200
}
```

This event have two possible meanings:
- User just loaded the entire app (if this is the first time loaded this session);
- User just refreshed his timeline/inbox;

So, this implementation details have to be documented and spread over the target people that is going to use it to run some analysis or debugging.

### Fine-grained events

This type of event have a record/ticket format like:
- app opened;
- auto refresh;
- user pull down refresh;

Using fine-grained events we annotate actions with some contextual information. So we don't have the risk of multiple meaning as we have with course-grained one.

### Course VS fine grained

Usually, course-grained events are more suitable for logging and debugging, once we don't the exact context that is going to embrace an issue or bug. So we need more **generic** data.

However, analytics initiatives have their scope/context well defined. So it is a good practice to create specific events for everything within the defined context.

The final message of this topic is: **decouple** loggig and analysis!

## Schema

Schema is the structure used to describe your data, providing a contract between **fields** collected and their **data types**.

### Schema and schema-less events

Nowadays, some schema-less formats have been widely used for events collection, like JSON and CSV format. And we also have the old but extensively used table format (e.g. SQL/relational).

The main advantages of having an event schema are:
- More efficient processing, once you don't have to spent resources for checking new fields of changes in data type;
- You don't need to write parsers;
- Easier to change schemas, once you previously know it;
- Facilities **automated anaytics**;

But there are drawbacks too:
- You put data processing effort in the application side;
- less flexibility for shipping new data;

# Show me the code

### Collecting data

Let's use Vizgr (www.vizgr.org) webservice to request some historical events from Wikpedia.

In [62]:
VIZGR_URL = "http://www.vizgr.org/historical-events/search.php?format=json&begin_date=-3000000&end_date=20171231&lang=pt"

In [63]:
import urllib2
import json

In [64]:
response = urllib2.urlopen(VIZGR_URL)
result = response.read()

In [65]:
print result[:300]

{"result": {"count": "7879", "event": {"date": "-292", "description": "In\u00edcio da constru\u00e7\u00e3o do '''''colosso de Rodes''''' pelo escultor rodiano Car\u00e9s de Lindos.", "lang": "pt", "granularity": "year"}, "event": {"date": "-280", "description": "T\u00e9rmino da constru\u00e7\u00e3o

## Parsing

Here we go with our first issue. The URL response is not a good JSON schema because all events (embraced into a `event` key) is not structured as a list. So an automatic JSON parsing is not gonna work.

In [66]:
data = json.loads(result)

In [67]:
data.get('result')

{u'count': u'7879',
 u'event': {u'category1': u'Novembro',
  u'date': u'2013',
  u'description': u'Elei\xe7\xf5es em 2013',
  u'granularity': u'year',
  u'lang': u'pt'}}

As we can see, the automatic JSON parsing returns only one event (the last one). What can we do now?

#### Splitting the string

We can see in the raw JSON data that all event begin with the `event` key. So we can split the entire string by this key and get a list of all entries.

To be more assertive in the splitting, we are going to include in the default separator all the chars that will not be used in our JSON parsing. Thus our default separator will be **`', "event": '`**.

In [68]:
result_splitted = result.split(", \"event\": ")

#### Checking split boundaries

In [69]:
for res in result_splitted[:3]: print res

{"result": {"count": "7879"
{"date": "-292", "description": "In\u00edcio da constru\u00e7\u00e3o do '''''colosso de Rodes''''' pelo escultor rodiano Car\u00e9s de Lindos.", "lang": "pt", "granularity": "year"}
{"date": "-280", "description": "T\u00e9rmino da constru\u00e7\u00e3o do '''colosso de Rodes''' \u2014 uma das '''''sete maravilhas do mundo antigo''''' \u2014 pelo escultor rodiano Car\u00e9s de Lindos.", "lang": "pt", "granularity": "year"}

As we can see, the first item do not compose one event once is only metadata (stats) from all events received in the response. So we are going to ignore it.

In [70]:
result_splitted[-3:]

['{"date": "2013", "description": "Desastres em 2013", "lang": "pt", "category1": "Novembro", "granularity": "year"}',
 '{"date": "2013", "description": "Divis\\u00f5es administrativas em 2013", "lang": "pt", "category1": "Novembro", "granularity": "year"}',
 '{"date": "2013", "description": "Elei\\u00e7\\u00f5es em 2013", "lang": "pt", "category1": "Novembro", "granularity": "year"}}}']

We also have an issue with the last item because it have an invalid JSON schema. The braces from the ignored keys (`result` and `count`) are in the end of the string. So we need to treat it too by ignoring the last two characters of the string.

In [71]:
': "year"}}}'[:-2]

': "year"}'

In [72]:
result_splitted = result[:-2].split(", \"event\": ")

Now we can safely split the string and get out event list.

In [73]:
events = [json.loads(res) for res in result_splitted[1:]]

In [74]:
events[:3]

[{u'date': u'-292',
  u'description': u"In\xedcio da constru\xe7\xe3o do '''''colosso de Rodes''''' pelo escultor rodiano Car\xe9s de Lindos.",
  u'granularity': u'year',
  u'lang': u'pt'},
 {u'date': u'-280',
  u'description': u"T\xe9rmino da constru\xe7\xe3o do '''colosso de Rodes''' \u2014 uma das '''''sete maravilhas do mundo antigo''''' \u2014 pelo escultor rodiano Car\xe9s de Lindos.",
  u'granularity': u'year',
  u'lang': u'pt'},
 {u'date': u'-280',
  u'description': u"Constru\xe7\xe3o do '''farol de Alexandria''' \u2014 uma das '''''sete maravilhas do mundo antigo''''' \u2014 pelo arquiteto e engenheiro S\xf3strato de Cnido.",
  u'granularity': u'year',
  u'lang': u'pt'}]

## Schema

Now that we have our events all parsed, we need to check their schema:
- Do they have the same schema?
- What are the fields?
- What are the data types?
- Are the data types homogeneous?

The first event have the following fieds and values:

In [75]:
events[0].keys()

[u'date', u'lang', u'description', u'granularity']

In [76]:
events[0].values()

[u'-292',
 u'pt',
 u"In\xedcio da constru\xe7\xe3o do '''''colosso de Rodes''''' pelo escultor rodiano Car\xe9s de Lindos.",
 u'year']

So seems that we have the following schema:

```json
{
  "date": "INTEGER",
  "lang": "STRING",
  "description": "STRING",
  "granularity": "STRING"
}
```

Let's check now for all entries. Let Pandas shine for you!

In [77]:
import pandas as pd

Now we are going to create a dataframe (table-like) to manage all events.

In [78]:
df = pd.DataFrame.from_dict(events)

In [79]:
df.head(10)

,category1,category2,date,description,granularity,lang
0,NaN,NaN,-292,Início da construção do '''''colosso de Rodes'...,year,pt
1,NaN,NaN,-280,Término da construção do '''colosso de Rodes''...,year,pt
2,NaN,NaN,-280,Construção do '''farol de Alexandria''' — uma ...,year,pt
3,NaN,NaN,-280,"Batalha de Heracleia, na qual Pirro enfrenta p...",year,pt
4,NaN,NaN,-279,Batalha de Ásculo entre os Romanos e Pirro.,year,pt
5,NaN,NaN,-275,einado de Arquídamo IV rei de Esparta de 305 a...,year,pt
6,NaN,NaN,-275,einado de Eudâmidas II rei de Esparta entre 27...,year,pt
7,NaN,NaN,-264,Os Mamertinos pedem ajuda a Roma e Cartago par...,year,pt
8,NaN,NaN,-263,Primeira guerra púnica - Hiero II é derrotado ...,year,pt
9,NaN,NaN,-263,Fundação de Belgrado a capital e maior cidade ...,year,pt

When we load all events we see two additional fields `category1` and `category2` that are not present into the first event. So we don't have an normalized schema to all events.

Let's check what we have into these categories:

#### Category 1

In [80]:
df[df.category1.isnull()].shape

(5272, 6)

In [81]:
df[df.category1.notnull()].shape

(2607, 6)

In [82]:
df.groupby(['category1']).count()

                         category2  date  description  granularity  lang
category1
Abril                            0   162          162          162   162
Agosto                           0   127          127          127   127
Agosto a Outubro                 0     3            3            3     3
América                          0     3            3            3     3
Artes e Ciências                 0     1            1            1     1
Artes e ciências                 0     2            2            2     2
Asia                             0     4            4            4     4
Brasil                           0    14           14           14    14
Carnaval                         0    13           13           13    13
Continente Americano             0     8            8            8     8
Datas desconhecidas              0     8            8            8     8
Dezembro                         0   221          221          221   221
Em andamento                     0    41           41           41    41
Espanha                          0     1            1            1     1
Europa                           0    11           11           11    11
Eventos em andamento             0     3            3            3     3
Eventos sem data                 0     6            6            6     6
Extremo Oriente                  0    11           11           11    11
Falecimentos                     0     1            1            1     1
Fevereiro                        0   196          196          196   196
Império Romano                   0    68           68           68    68
Império romano                   0     1            1            1     1
Janeiro                          0   200          200          200   200
Janeiro - Junho                  0     7            7            7     7
Janeiro a Abril                  0     4            4            4     4
Julho                            0   138          138          138   138
Julho - Agosto                   0     4            4            4     4
Julho - Dezembro                 0    10           10           10    10
Junho                            0   147          147          147   147
Maio                             0   194          194          194   194
Maio a Julho                     0     2            2            2     2
Março                            0   172          172          172   172
Novembro                         0   171          171          171   171
Novembro e Dezembro              0     1            1            1     1
Ocidente                         0    10           10           10    10
Outros                           0     2            2            2     2
Outros eventos                   0    50           50           50    50
Outubro                          0   180          180          180   180
Política romana                  0     3            3            3     3
Políticos                        0     9            9            9     9
Por Localidade                   5     5            5            5     5
Por assunto                      8     8            8            8     8
Por local                       20    20           20           20    20
Por localidade                  11    11           11           11    11
Por lugar                       19    19           19           19    19
Portugal                         0    62           62           62    62
Primeira Guerra Púnica           0     5            5            5     5
Química                          0     2            2            2     2
Religião                         0    10           10           10    10
Sem data especificada            0     6            6            6     6
Setembro                         0   212          212          212   212
Temáticos                        0     3            3            3     3
Tópicos                          2     2            2            2     2
dezembro                         0     3            3            3     3
África                           0     2            2            2     2
África e outras regiões          0     4            4            4     4
Ásia                             0    24           24           24    24

#### Category 2

In [83]:
df[df.category2.isnull()].shape

(7813, 6)

In [84]:
df[df.category2.notnull()].shape

(66, 6)

In [85]:
df.groupby(['category2']).count()

                  category1  date  description  granularity  lang
category2
Artes e Ciências          1     1            1            1     1
China                     2     2            2            2     2
Europa                    8     8            8            8     8
Império Romano           25    26           26           26    26
Império romano            2     2            2            2     2
México                    1     1            1            1     1
Pártia                    1     1            1            1     1
Religião                  9     9            9            9     9
Roma                      7     7            7            7     7
Ásia                      8     8            8            8     8
Índia                     1     1            1            1     1

## Duplicates problem
There are some duplicate rows in the table, we can get rid of them using:

In [87]:
df = pd.DataFrame.from_dict(events)
print("Removing " + str(df.shape[0] - df.drop_duplicates().shape[0]) + " duplicates.")
df = df.drop_duplicates()
df.shape

Removing 4 duplicates.

(7875, 6)

## Date column problem

The date format ins't homogeneous, as can be seem in the following table:

In [95]:
df.loc[7834:7855]

,category1,category2,date,description,granularity,lang
7834,Dezembro,NaN,2012,//www.portal2014.org.br/noticias/10631/CEARA+Q...,year,pt
7835,Dezembro,NaN,2012,//www.agendaesportiva.net/site/index.php?optio...,year,pt
7836,Dezembro,NaN,2012,//educacao.uol.com.br/geografia/uniao-europeia...,year,pt
7837,Janeiro,NaN,2012/01/13,11° aniversário da Wikipédia.,year,pt
7838,Janeiro,NaN,2012/01/13,Terremoto de magnitude 6.6 na escala richter a...,year,pt
7839,Janeiro,NaN,2012/01/13,A cidade de Guimarães em Portugal ostenta o tí...,year,pt
7840,Fevereiro,NaN,2012/01/13,"Na Finlândia, são realizadas eleições presiden...",year,pt
7841,Julho,NaN,2012/01/13,O Corinthians se torna campeão da Copa Santand...,year,pt
7842,Julho,NaN,2012/01/13,Cerimônia de abertura dos Jogos Olímpicos de V...,year,pt
7843,Agosto,NaN,2012/01/13,Cerimônia de abertura dos Jogos Paralímpicos d...,year,pt
7844,Setembro,NaN,2012/01/13,Cerimônia de encerramento dos Jogos Paralímpic...,year,pt
7845,Outubro,NaN,2012/01/13,Eleições municipais para prefeitos e vereadore...,year,pt
7846,Novembro,NaN,2012/01/13,Eleições presidenciais dos Estados Unidos.,year,pt
7847,Novembro,NaN,2012/01/13,"Eclipse solar total, visível principalmente no...",year,pt
7848,Dezembro,NaN,2012/01/13,"Final do Calendário Maia de Contagem Longa, co...",year,pt
7849,Dezembro,NaN,2012/01/13,Data alternativa para o fim do calendário Maia...,year,pt
7850,Dezembro,NaN,2012/01/13,Expira o prazo do Protocolo de Quioto.,year,pt
7851,Dezembro,NaN,2012/01/13,Há a probabilidade de anúncio de uma nova defi...,year,pt
7852,Dezembro,NaN,2012/01/13,Fenômeno 2012,year,pt
7853,Janeiro,NaN,2013,1º de Janeiro,year,pt
7854,Janeiro,NaN,2013,"Em 2013, nova ortografia será obrigatória |url...",year,pt
7855,Janeiro,NaN,2013,"//www.historiamais.com/barack_obama.htm"">http:...",year,pt

We will use a regex to select the correct format date and fix the data in our table.

In [97]:
import re

# Only years, positive or negative
pattern = re.compile('-?[0-9]+')

for index, row in df.iterrows():
    date = row['date']
    m = re.search(pattern, date)

    # If it can't match the entire string:
    if not m or m.group() != date:
        row['date'] = date.split('/')[0]

In [98]:
print(',\t'.join(df.date.unique()))

-292,	-280,	-279,	-275,	-264,	-263,	-262,	-261,	-260,	-259,	-258,	-257,	-256,	-255,	-254,	-253,	-252,	-251,	-249,	-248,	-247,	-246,	-245,	-244,	-241,	-237,	-235,	-231,	-228,	-227,	-225,	-222,	-221,	-219,	-218,	-216,	-215,	-214,	-213,	-212,	-209,	-206,	-204,	-203,	-202,	-200,	-197,	-194,	-193,	-190,	-189,	-184,	-175,	-174,	-167,	-157,	-156,	-155,	-152,	-150,	-149,	-147,	-146,	-145,	-142,	-140,	-139,	-138,	-134,	-133,	-130,	-129,	-125,	-123,	-120,	-119,	-118,	-112,	-111,	-110,	-109,	-108,	-107,	-106,	-105,	-100,	-91,	-88,	-85,	-83,	-82,	-81,	-80,	-79,	-78,	-76,	-75,	-74,	-73,	-72,	-71,	-69,	-68,	-67,	-66,	-65,	-64,	-63,	-62,	-61,	-60,	-59,	-56,	-55,	-54,	-53,	-52,	-51,	-50,	-49,	-48,	-47,	-46,	-45,	-44,	-43,	-42,	-41,	-40,	-39,	-38,	-37,	-36,	-35,	-33,	-31,	-30,	-29,	-27,	-25,	-19,	-16,	-15,	-14,	-13,	-12,	-11,	-10,	-8,	-7,	-4,	-3,	-2,	-1,	1,	2,	5,	6,	7,	8,	9,	11,	12,	13,	14,	16,	17,	19,	22,	23,	24,	25,	26,	27,	28,	29,	31,	33,	36,	37,	38,	41,	42,	43,	44,	45,	46,	48,	51,	54,	56,	60,	65,	66,	67,	68,	69,	70,	72,	73,	76,	77,	78,	79,	80,	81,	88,	92,	93,	94,	96,	97,	98,	100,	101,	103,	105,	106,	109,	110,	111,	112,	113,	114,	115,	116,	117,	118,	119,	120,	122,	123,	124,	125,	126,	127,	128,	129,	132,	134,	135,	136,	138,	139,	140,	142,	147,	150,	154,	155,	157,	166,	174,	177,	185,	187,	188,	189,	193,	194,	197,	199,	200,	203,	206,	209,	212,	216,	217,	218,	220,	222,	230,	234,	235,	236,	237,	251,	253,	254,	256,	257,	259,	265,	272,	297,	304,	317,	318,	319,	320,	321,	327,	330,	336,	337,	350,	352,	356,	357,	358,	360,	361,	363,	365,	366,	370,	372,	374,	376,	378,	379,	380,	383,	384,	388,	396,	399,	400,	401,	406,	407,	409,	410,	411,	414,	415,	416,	417,	418,	419,	420,	425,	427,	428,	429,	430,	431,	438,	439,	440,	441,	445,	448,	449,	450,	451,	454,	455,	456,	457,	461,	462,	465,	467,	468,	469,	470,	474,	475,	476,	483,	484,	487,	488,	489,	491,	493,	494,	495,	496,	497,	498,	500,	503,	505,	506,	507,	510,	511,	514,	519,	521,	523,	526,	527,	528,	529,	531,	532,	533,	534,	535,	537,	538,	539,	540,	541,	542,	543,	544,	546,	547,	550,	551,	552,	554,	556,	558,	561,	565,	568,	570,	572,	574,	575,	577,	579,	585,	589,	590,	593,	595,	599,	600,	604,	607,	608,	611,	613,	614,	615,	616,	619,	622,	624,	625,	627,	628,	630,	632,	633,	636,	639,	640,	642,	644,	645,	646,	647,	649,	650,	654,	656,	657,	661,	663,	666,	670,	672,	674,	675,	676,	678,	680,	681,	685,	686,	687,	691,	698,	700,	701,	705,	708,	710,	711,	713,	714,	715,	716,	718,	722,	731,	732,	735,	739,	740,	741,	747,	750,	751,	752,	753,	756,	757,	759,	762,	763,	768,	769,	773,	774,	777,	778,	780,	782,	783,	787,	790,	791,	793,	796,	797,	798,	800,	802,	803,	805,	808,	810,	811,	812,	813,	814,	816,	817,	822,	824,	825,	827,	829,	833,	839,	841,	842,	843,	844,	845,	846,	847,	848,	849,	850,	852,	855,	856,	858,	859,	866,	867,	868,	870,	871,	873,	875,	877,	878,	879,	880,	882,	884,	886,	887,	888,	891,	895,	896,	897,	899,	900,	902,	904,	905,	907,	909,	910,	911,	912,	913,	914,	915,	916,	918,	920,	922,	924,	925,	926,	928,	929,	930,	936,	937,	938,	939,	942,	945,	946,	949,	950,	951,	953,	955,	956,	958,	959,	960,	961,	962,	964,	966,	968,	971,	972,	973,	975,	976,	980,	981,	982,	983,	984,	985,	987,	988,	992,	994,	995,	997,	998,	999,	1000,	1001,	1002,	1004,	1005,	1007,	1008,	1009,	1010,	1011,	1012,	1013,	1014,	1015,	1016,	1017,	1018,	1019,	1020,	1022,	1023,	1024,	1025,	1026,	1027,	1028,	1030,	1031,	1032,	1033,	1034,	1035,	1037,	1040,	1042,	1043,	1044,	1045,	1049,	1050,	1051,	1053,	1054,	1055,	1056,	1057,	1058,	1060,	1061,	1062,	1063,	1064,	1065,	1066,	1068,	1070,	1071,	1072,	1073,	1077,	1078,	1080,	1081,	1085,	1086,	1087,	1088,	1089,	1090,	1091,	1092,	1093,	1094,	1095,	1096,	1097,	1098,	1099,	1100,	1101,	1102,	1103,	1104,	1105,	1106,	1107,	1108,	1109,	1110,	1111,	1112,	1113,	1114,	1115,	1116,	1117,	1118,	1119,	1120,	1121,	1122,	1123,	1124,	1125,	1126,	1127,	1128,	1129,	1130,	1131,	1133,	1135,	1136,	1137,	1139,	1140,	1141,	1142,	1143,	1144,	1145,	1146,	1147,	1148,	1149,	1150,	1151,	1152,	1153,	1154,	1155,	1157,	1158,	1159,	1160,	1161,	1162,	1163,	1164,	1165,	1166,	1168,	1169,	1170,	1171,	1172,	1173,	1174,	1175,	1178,	1179,	1180,	1181,	1183,	1185,	1186,	1187,	1188,	1189,	1190,	1191,	1192,	1193,	1194,	1195,	1196,	1197,	1198,	1199,	1200,	1201,	1202,	1203,	1204,	1206,	1207,	1208,	1209,	1210,	1211,	1212,	1215,	1216,	1217,	1218,	1219,	1220,	1221,	1222,	1223,	1226,	1227,	1229,	1230,	1231,	1232,	1233,	1234,	1235,	1236,	1237,	1238,	1240,	1241,	1242,	1243,	1244,	1245,	1246,	1247,	1248,	1249,	1250,	1251,	1253,	1254,	1255,	1256,	1258,	1259,	1260,	1261,	1263,	1264,	1265,	1266,	1267,	1270,	1271,	1272,	1274,	1275,	1276,	1277,	1278,	1279,	1280,	1281,	1282,	1284,	1285,	1287,	1290,	1291,	1293,	1295,	1296,	1297,	1299,	1301,	1302,	1304,	1305,	1307,	1308,	1309,	1310,	1311,	1312,	1313,	1314,	1317,	1320,	1321,	1323,	1324,	1325,	1326,	1327,	1328,	1331,	1333,	1334,	1335,	1336,	1338,	1339,	1340,	1342,	1343,	1344,	1345,	1346,	1347,	1348,	1349,	1351,	1353,	1355,	1356,	1357,	1358,	1359,	1360,	1361,	1362,	1363,	1364,	1367,	1368,	1369,	1370,	1372,	1375,	1377,	1378,	1380,	1382,	1383,	1384,	1385,	1386,	1387,	1389,	1390,	1391,	1392,	1395,	1396,	1397,	1399,	1400,	1402,	1403,	1405,	1406,	1410,	1412,	1413,	1414,	1415,	1417,	1418,	1419,	1420,	1422,	1423,	1424,	1425,	1426,	1427,	1428,	1429,	1430,	1431,	1432,	1433,	1434,	1435,	1436,	1438,	1439,	1440,	1441,	1442,	1443,	1444,	1445,	1446,	1447,	1449,	1450,	1451,	1452,	1453,	1454,	1456,	1457,	1458,	1459,	1460,	1461,	1462,	1464,	1466,	1468,	1469,	1470,	1471,	1472,	1473,	1474,	1475,	1476,	1477,	1478,	1479,	1480,	1481,	1482,	1483,	1484,	1485,	1486,	1487,	1488,	1489,	1490,	1491,	1492,	1493,	1494,	1495,	1496,	1497,	1498,	1499,	1500,	1501,	1502,	1503,	1504,	1505,	1506,	1507,	1508,	1509,	1510,	1511,	1512,	1513,	1514,	1515,	1516,	1517,	1518,	1519,	1520,	1521,	1522,	1523,	1524,	1525,	1526,	1527,	1528,	1529,	1530,	1531,	1532,	1533,	1534,	1535,	1536,	1537,	1538,	1539,	1540,	1541,	1542,	1543,	1544,	1545,	1546,	1547,	1548,	1549,	1550,	1551,	1552,	1553,	1554,	1555,	1556,	1557,	1558,	1559,	1560,	1561,	1562,	1563,	1564,	1565,	1566,	1567,	1568,	1569,	1570,	1571,	1572,	1573,	1575,	1576,	1577,	1578,	1579,	1580,	1581,	1582,	1583,	1584,	1585,	1586,	1587,	1588,	1589,	1590,	1591,	1592,	1593,	1594,	1595,	1596,	1597,	1598,	1599,	1600,	1601,	1602,	1603,	1605,	1606,	1607,	1608,	1609,	1610,	1611,	1612,	1613,	1614,	1615,	1616,	1617,	1618,	1619,	1620,	1621,	1622,	1623,	1624,	1625,	1626,	1627,	1628,	1629,	1630,	1631,	1632,	1633,	1634,	1635,	1636,	1637,	1638,	1639,	1640,	1641,	1642,	1643,	1644,	1645,	1646,	1647,	1648,	1649,	1650,	1651,	1652,	1653,	1654,	1655,	1656,	1657,	1658,	1659,	1660,	1661,	1662,	1663,	1664,	1665,	1668,	1670,	1671,	1672,	1674,	1675,	1676,	1678,	1680,	1683,	1684,	1685,	1686,	1687,	1688,	1689,	1690,	1691,	1692,	1693,	1694,	1696,	1697,	1698,	1699,	1700,	1701,	1702,	1703,	1704,	1706,	1707,	1708,	1709,	1711,	1712,	1713,	1714,	1715,	1717,	1718,	1719,	1720,	1721,	1722,	1723,	1725,	1727,	1728,	1729,	1730,	1732,	1733,	1734,	1736,	1737,	1738,	1739,	1743,	1744,	1745,	1746,	1747,	1748,	1749,	1750,	1751,	1752,	1754,	1755,	1756,	1757,	1758,	1759,	1760,	1761,	1762,	1763,	1764,	1765,	1766,	1767,	1768,	1769,	1770,	1771,	1772,	1773,	1774,	1775,	1776,	1777,	1778,	1780,	1781,	1782,	1783,	1785,	1786,	1787,	1788,	1789,	1790,	1791,	1792,	1793,	1794,	1795,	1796,	1797,	1798,	1799,	1800,	1801,	1802,	1803,	1804,	1805,	1806,	1807,	1808,	1809,	1810,	1811,	1812,	1813,	1814,	1815,	1816,	1817,	1818,	1819,	1820,	1821,	1822,	1823,	1824,	1825,	1826,	1827,	1828,	1829,	1830,	1831,	1832,	1833,	1834,	1835,	1836,	1837,	1838,	1839,	1840,	1841,	1842,	1843,	1844,	1845,	1846,	1847,	1848,	1849,	1850,	1851,	1852,	1853,	1854,	1855,	1856,	1857,	1858,	1859,	1860,	1861,	1862,	1863,	1864,	1865,	1866,	1867,	1868,	1869,	1870,	1871,	1872,	1873,	1874,	1875,	1876,	1877,	1878,	1879,	1880,	1881,	1882,	1883,	1884,	1885,	1888,	1889,	1890,	1891,	1892,	1893,	1895,	1896,	1897,	1898,	1899,	1901,	1902,	1903,	1904,	1905,	1906,	1907,	1908,	1909,	1910,	1911,	1912,	1913,	1914,	1915,	1917,	1918,	1919,	1920,	1921,	1922,	1923,	1925,	1927,	1928,	1929,	1930,	1931,	1932,	1934,	1935,	1936,	1937,	1939,	1940,	1942,	1943,	1944,	1945,	1946,	1947,	1948,	1949,	1950,	1951,	1952,	1953,	1955,	1956,	1957,	1958,	1959,	1960,	1961,	1962,	1964,	1965,	1966,	1967,	1968,	1969,	1970,	1971,	1972,	1973,	1974,	1975,	1976,	1977,	1978,	1979,	1980,	1981,	1982,	1983,	1984,	1985,	1986,	1987,	1989,	1990,	1991,	1992,	1993,	1994,	1995,	1996,	1997,	1998,	1999,	2000,	2001,	2002,	2003,	2004,	2005,	2006,	2007,	2010,	2011,	2012,	2013

In [99]:
df.loc[7834:7855]

,category1,category2,date,description,granularity,lang
7834,Dezembro,NaN,2012,//www.portal2014.org.br/noticias/10631/CEARA+Q...,year,pt
7835,Dezembro,NaN,2012,//www.agendaesportiva.net/site/index.php?optio...,year,pt
7836,Dezembro,NaN,2012,//educacao.uol.com.br/geografia/uniao-europeia...,year,pt
7837,Janeiro,NaN,2012,11° aniversário da Wikipédia.,year,pt
7838,Janeiro,NaN,2012,Terremoto de magnitude 6.6 na escala richter a...,year,pt
7839,Janeiro,NaN,2012,A cidade de Guimarães em Portugal ostenta o tí...,year,pt
7840,Fevereiro,NaN,2012,"Na Finlândia, são realizadas eleições presiden...",year,pt
7841,Julho,NaN,2012,O Corinthians se torna campeão da Copa Santand...,year,pt
7842,Julho,NaN,2012,Cerimônia de abertura dos Jogos Olímpicos de V...,year,pt
7843,Agosto,NaN,2012,Cerimônia de abertura dos Jogos Paralímpicos d...,year,pt
7844,Setembro,NaN,2012,Cerimônia de encerramento dos Jogos Paralímpic...,year,pt
7845,Outubro,NaN,2012,Eleições municipais para prefeitos e vereadore...,year,pt
7846,Novembro,NaN,2012,Eleições presidenciais dos Estados Unidos.,year,pt
7847,Novembro,NaN,2012,"Eclipse solar total, visível principalmente no...",year,pt
7848,Dezembro,NaN,2012,"Final do Calendário Maia de Contagem Longa, co...",year,pt
7849,Dezembro,NaN,2012,Data alternativa para o fim do calendário Maia...,year,pt
7850,Dezembro,NaN,2012,Expira o prazo do Protocolo de Quioto.,year,pt
7851,Dezembro,NaN,2012,Há a probabilidade de anúncio de uma nova defi...,year,pt
7852,Dezembro,NaN,2012,Fenômeno 2012,year,pt
7853,Janeiro,NaN,2013,1º de Janeiro,year,pt
7854,Janeiro,NaN,2013,"Em 2013, nova ortografia será obrigatória |url...",year,pt
7855,Janeiro,NaN,2013,"//www.historiamais.com/barack_obama.htm"">http:...",year,pt

# References

1. https://www.slideshare.net/g33ktalk/data-pipeline-acial-lyceum20140624
2. https://engineering.linkedin.com/distributed-systems/log-what-every-software-engineer-should-know-about-real-time-datas-unifying